body{
    margin:0;
    background: linear-gradient(170deg, #00b4b4, #f8d3fd);
    /*height:764px;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    /*background-color: #1100ff;*/
    height:50px;
    text-align: center;
    color:#f8d3fd;
    font-size: 40px;
}

section{
    position: absolute;
    height:700px;
    width:50%;
    text-align: center;
}

article{
    border:1px solid red;
    width:100px;
    height:100px;
    position: relative;
    margin:auto;
}